<div class="card" style="width: 90%; margin: 5% auto">
    <div class="card-header">
        Accountgegevens
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span id="naam">Naam pashouder: </span>
        <li class="list-group-item"><span id="lidmaatschap">Soort lidmaatschap: </span>
        <li class="list-group-item"><span id="barcode">Barcode lenerskaart: </span>
        <li class="list-group-item"><span id="pincode">Pincode (geboortedatum): </span>
    </ul>
</div>
