<div class="container">
    <div class="row text-center" style="margin: 20px 10px;">
        <div class="col col-lg-12" style="border: 1px solid rgba(0, 0, 0, .125); border-radius: .25rem;">
            <div id="card-indexMain"></div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary form-control visible boekLenen" value="Lenen">
    <div class="row" style="margin: 20px 10px;">
        <div class="col col-lg-12" style="border: 1px solid rgba(0, 0, 0, .125); border-radius: .25rem;">
            <div id="card-indexAvailability"></div>
        </div>
    </div>
    <div class="row" style="margin: 20px 10px;">
        <div class="col col-lg-10" style="border: 1px solid rgba(0, 0, 0, .125); border-radius: .25rem; ">
            <div id="card-indexDetail"></div>
        </div>
    </div>
    <div id="card-indexFoute"></div>
</div>

