<!--hier komt code te staan om de blokken in te laden met boeken!-->
<form class="form-inline d-flex justify-content-center md-form form-sm active-pink-2 mt-4">
    <input class="form-control form-control-sm mr-3 w-75" type="text" id="queryInput" placeholder="Zoek naar boeken"
           aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>

    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block btn-sm boekenOverzicht" value="Zoeken" style="margin-top: 20%;">
    </div>
</form>

<div class="container my-4">
    <div id="books-list" class="grid text-center">
    </div>
</div>

