
<div class="container">

    <div class="col-md-6 mt-5 text-center text-large"> Geleende boeken</div>

    <div id = "alert" class="alert alert-danger" role="alert"> </div>

    <div class="container my-4">
        <div class="grid">
            <div id="card-index">
                <div class="card-body"></div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <img class="card-img-top"
             src="https://cdn.discordapp.com/attachments/674186806073491466/711866247498694696/obaopen.png"
             alt="Card image cap">

        <div class="card-body">
            <p class="card-text">De OBA mag weer open! We hopen dat je met dit nieuws net zo blij bent als wij. Vanaf
                woensdag 13 mei ben je van harte welkom bij de eerste 5 vestigingen die we weer openen.</p>
        </div>

        <script>$('.modal-backdrop').remove();</script>
    </div>
</div>